
.container table{
  border-radius: 10px;
}
.checkout-summary {
  color: #1E4F2A;
  align-items: center;
  text-align: center;
  padding-top: 0px;
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.checkout-summary p {
  margin: 5px;
}

.checkout-summary button {
  margin: 0px;
}
