
.admin-header {
  margin: 50px 10px 0px 40px;
  color: #1e4f2a;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.admin-subheader {
  margin: 0px 10px 50px 40px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.highlights-title {
  font-family: 'Poppins', sans-serif; /* Added quotes around font-family */
  font-size: 25px;
  margin: 5px;
  padding: 15px 15px 0px 15px;
}

.highlights-number {
  font-family: 'Poppins', sans-serif; /* Added quotes around font-family */
  font-size: 20px;
  margin: 5px;
  padding: 0px 15px 15px 15px;
}







