
.admin-header {
  margin: 50px 10px 0px 40px;
  color: #1e4f2a;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.admin-subheader {
  margin: 0px 10px 50px 40px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
}








