.ordernumber-field {
  margin: 20px 40px;
  width:95%;
  display: flex;
  justify-content:left;
}

.pending-header {
  margin: 50px 10px 0px 70px;
  color: #1e4f2a;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.ordernumber-card {
  width: auto;
  margin: 0px 5px 0px 5px;
  border: none;
  background-color: #ffc700;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  color: #000;
}

.ordernumber-card:hover {
  background: linear-gradient(90deg, #1e4f2a 0%, #45b560 100%);
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
  transform: scale(1.03); /* Use transform for scale */
  transition: transform 0.2s; /* Smooth transition for scaling */
}




.order-title {
  font-family: poppins, sans-serif;
  font-size: 15px;
  margin: 5px;
}


.order-name {
  padding: 10px 0px 15px 30px;
  color: #1e4f2a;
  font-family: poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.no-pending {
  padding: 20px 0px 15px 30px;
  color: #1e4f2a;
  font-family: poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.order-description,
.order-price {
  color: #000;
  font-family: poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  padding-left: 0px;
}

.order-products {
  color: #000;
  font-family: poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.order-status {
  color: #000;
  font-family: poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.order-quantity{
  color: #000;
  font-family: poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-left: 0px;
}

.order-price {
  padding-left: 35px;
}

.confirm-btn,
.cancel-btn {
  color: #fff;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  padding: 5px 10px 5px 10px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  margin-right: 10px;
}

.confirm-btn {
  background: #20882b;
}

.cancel-btn {
  background: #882020;
}

.confirm-btn:hover {
  background: linear-gradient(to right, #20882b, #2ac43a);
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.cancel-btn:hover {
  background: linear-gradient(to right, #882020, #b32c2c);
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

td {
  text-align: center;
}
