.login-page {
  background: linear-gradient(316deg, #ffdf6e 24.73%, #ffc700 100.52%);
  width: 100%;
  height: 100%;
  position: fixed;
}

.login-panel {
  margin: 30px;
  width: 35%;
  height: 90%;
  padding: 40px;
  border-radius: 34px;
  background: #fff;
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.25);
}

.login-title {
  color: #1e4f2a;
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-style: bold;
  font-weight: 700;
  margin: 0;
}

.welcome-back {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 20px;
}

.input-label {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
  padding-bottom: 5px;
}

.input-field {
  font-family: Inter;
  font-size: 15px;
  font-weight: normal;
  border-radius: 34px;
  width: 100%;
  height: 100%;
  border: 2px solid #e8e8e8;
  margin-bottom: 30px;
  padding: 15px 15px 15px 20px;
}

.input-field:focus {
  outline-width: 0;
  border: 3px solid #1e4f2a;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.sign-in-button {
  width: 214px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 34px;
  border: none;
  background: #1e4f2a;
  color: #fff;
}

.sign-in-button:hover {
  background-color: #42b95f;
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.25);
}
.error-message {
  color: red;
  text-align: center;
  margin: 5px;
}

.newuser-wrapper {
  text-align: center;
}

.new-user-text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #000000;
  margin: 0;
}

.create-account-link {
  text-decoration: underline;
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
  color: #000000;
  margin: 0;
}

.create-account-link:hover {
  color: #1e4f2a;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.web-title {
  position: absolute;
  left: 1300px;
  top: 90px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #1e4f2a;
  margin: 0;
}

.web-logo {
  position: absolute;
  left: 1210px;
  top: 100px;
}
.login-image {
  position: absolute;
  left: 800px;
  top: 0px;
}